<% include head.ejs %>

<link rel='stylesheet' href='/css/dropzone.css' />
<script src="/js/dropzone.js"></script>

<% data.files.forEach(function(el, index) { %>
	<img src="/<%= el %>" alt="<%= index %>" style="width:100px; height: 100px;" />
<% }); %>

<p>ID: <%= user.id %></p>
<p>Name: <%= user.displayName %></p>

<form action="/upload?user=<%= user %>" class="dropzone" id="my-dropzone"></form>

<% include foot.ejs %>