<% include head.ejs %>

<link rel='stylesheet' href='/css/dropzone.css' />
<script src="/js/dropzone.js"></script>

<% data.files.forEach(function(el, index) { %>
	<img src="/<%= el %>" alt="<%= index %>" style="width:130px; height: 160px;" />
	<a href="/remove_upload?index=<%= index %>">delete</a>
<% }); %>

<h2>Edit Profile Info</h2>
<form action="/update_player" method="post">
	<p>ID: <input value="<%= user.id %>" name="id"></p>
	<p>Real Name: <input value="<%= data.displayName %>" name="displayName"></p>
	<p>Player Name: <input value="<%= data.player %>" name="player"></p>
	<button>Submit</button>
</form>

<form action="/upload?user=<%= user %>" class="dropzone" id="my-dropzone"></form>

<% include foot.ejs %>